#map { 
	height: 540px; 
	width:100%;
	background-color:gray;
    cursor: move;
}

.pokemonname
{
	width:80px;
	color:#F0F8FF;
	font-size:23px;
	float:left;
    margin: 10px;
}

.poklabel
{
     color:#20B2AA;
}

.pokemonmore
{
	width: 55px;
	height: 55px;
    font-size: 40px;
    color: RGB(237,201,44);
	/*background-image: url('../img/book4.svg');*/
	background-size:55px 55px;
	float:right;
    border:0px solid white;
    border-radius: 50px;
    position:fixed;
      -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    cursor: help;
}

.pokemonInfo
{
    display:table-cell;
	text-align: center;
	vertical-align: middle;
    background-color:#20B2AA;
    border-radius:15px;
    width:300px;
    height:40px;
}

.pokemonprobability
{
	font-size:20px;
    color:#20B2AA;
	border:solid 5px white;
	display:table-cell;
	vertical-align: middle;
	text-align: center;
	width:55px;
	height:55px;
	border-radius: 13px;
    background-color: #F0F8FF;
    position: relative;
    
}

.probabilityhelper
{
/*    width:70px;*/
    height:40px;
    float:left;
}

.pokemonbox
{
	margin-left: 20px;
	margin-bottom: 5px;
}
/*RGB(240,102,104) red*/
/*RGB(237,201,44) yel*/
.allinfo 
{
    width:300px;
    margin-top:10px;
}

/* arrows for pokemon evolution */
.a::before {
	content: "↝";
	vertical-align: 10%;
    color: RGB(240,102,104)
}

#sidebar {
	display: none;
	position: absolute;
	overflow: scroll;
	width: 410px;
	height: 100%;
	top: 0;
	right: 0;
/*	padding: 0 20px;*/
    background-color:#F0F8FF;
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;

}

#sidebar h2 {
    color: #20B2AA;
    margin: 10px 0px 0px 20px;
}

#sidebar a {
    color: inherit;
    text-decoration: none;
}

#sidebar a:hover {
    color: #20B2AA;
}

#close {
	float:right;
	width: 30px;
	height: 30px;
	border:solid 1px;
	border-radius: 30px;
	font-size: 26px;
	text-align: center;
	margin-top: 10px;
}

#close a {
	text-decoration: none;
}

#avatar {
	text-align: center;
    border:5px solid RGB(237,201,44);
    border-radius:300px;
    background-color:white;
    margin-right:5px;
    display: table-cell;
    margin-top: 5px;
}

#avatar img {
	width: 200px;
    padding: 15px;
}

.pokemonmore:hover
{
    
    border-radius:50px;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    border:3px solid white;
    border-radius: 50px;
	width: 60px;
	height: 60px;
    /*background-size:60px 60px;*/
    background-color:#20B2AA;
}

.titlehelper
{
    background-color:  RGB(237,201,44);
    color:white;
    padding:10px;
    border-radius:20px;
    font-size:20px;
    margin: 10px;
}

.avatarhelper
{
   /* width:300px; */
    margin: 10px 77px 10px 77px;
    
}

.labelpok
{
    width: 120px;
    padding:0px 0px 5px 5px;
    color:#20B2AA;
    font-size: 15px;
    border-bottom : 2px solid RGB(237,201,44);

}

.infopok
{
    border-bottom : 2px solid #20B2AA;
    text-align: center;
}

table 
{
    width:370px;
    padding: 10px 15px;
    margin-left:5px;
}

/*table td {
    width: 120px;
}*/

.stats {
    text-align: center;

}

.labelstats td {
    padding:0px 0px 5px 5px;
    color:#20B2AA;
    font-size: 15px;
    border-bottom: 2px solid RGB(237,201,44);
}

.infostats td {
    border-bottom: 2px solid #20B2AA;
}

.closehelper
{
    width:55px;
    height:55px;
    font-size: 55px;
    color: #d75a4a;
    /*background-image: url('../img/close.png');*/
    background-size:55px 55px;
    margin-top:-75px;
    float:right; 
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    cursor: pointer;
}

.closehelper:hover
{
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    width:65px;
    height:65px;
    font-size: 65px;
    /*background-size:65px 65px;*/
}

.leaflet-time-slider
{
   /*background-image: url(images/command.png);*/
    width: 400px;
    height: 40px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    padding: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
    cursor: auto;
    text-align: center;
    background-color: #FFFFFF;
}

#slider {
    width: 250px;
    height: 30px;
    margin-top: 10px;
    float: left;
}
#slider_from, #slider_to {
    font-family: Roboto, Arial, Helvetica;
    font-size: 14px;
    color: #404040;
}